.listitem {
	background-color: #999;
	color: #fff;
	margin: 0 1px 4px;
	padding: 9px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

input {
	margin-left: 8px;
	margin-right: 7px;
}

body {
	background-color: #c7c7c7;
	color: #f9f9f9;
}

img {

}

